
header, body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.manual-font {
    font-family: "Montserrat", sans-serif;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.property-card
{
  height:23em;
  width:16em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property-image1
{
  height:19.1em;
  width:16em;
  padding:1em 2em;
  position:absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('/static/img/rm_full_hand.png');
  background-position: center;
  background-size: 112px 257px;
  background-color: lightpink;
  background-repeat:no-repeat;
}

.property-image2
{
  height:19.1em;
  width:16em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('/static/img/rm_string_design.png');
  background-position: center;
  background-size: 191px 257px;
  background-color: lightpink;
  background-repeat:no-repeat;
}

.property-image3
{
  height:19.1em;
  width:16em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('/static/img/rm_two_hands.png');
  background-position: center;
  background-size: 183px 257px;
  background-color: lightpink;
  background-repeat:no-repeat;
}

.property-description
{
  background-color: #FAFAFC;
  height:3.9em;
  width:16em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}


.property-card:hover .property-description
{
  height:10em;
  padding:10px 1em;
}

.property-card:hover .property-image1
{
  height:13em;
  background-size: 90px 208px;
}

.property-card:hover .property-image2
{
  height:13em;
  background-size: 154px 208px;
}

.property-card:hover .property-image3
{
  height:13em;
  background-size: 148px 208px;
}

#check {
  display: none;
}

.content {
  display: none;
  transition: 0.5s linear;
}

label {
  margin-top: 15px;
  display: inline-block;
  border-bottom: 1px solid;
  cursor: pointer;
  font-weight: 500;
}

#check:checked ~ .content {
  display: block;
}

#check:checked ~ div label {
  visibility: hidden;
}

#check:checked ~ div label:after {
  content: '<<< Show Less';
  display: block;
  visibility: visible;
  border-bottom: 1px solid;
}

